/*шрифты*/
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,700&subset=cyrillic,cyrillic-ext,latin-ext');

/*preloader*/
.preloader{
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 9999;
	top: 0;
	left: 0;
	background-image: -webkit-radial-gradient(circle at 50% 79%, rgba(0, 0, 0, 0), #000000), -webkit-radial-gradient(circle at 49% 100%, #7923ae, #14004e);	
	background-image: -moz-radial-gradient(circle at 50% 79%, rgba(0, 0, 0, 0), #000000), -moz-radial-gradient(circle at 49% 100%, #7923ae, #14004e);	
	background-image: radial-gradient(circle at 50% 79%, rgba(0, 0, 0, 0), #000000), radial-gradient(circle at 49% 100%, #7923ae, #14004e);	
/*
    -webkit-transition: .4s cubic-bezier(0.7,0,0.3,1);
         -o-transition: .4s cubic-bezier(0.7,0,0.3,1);
            transition: .4s cubic-bezier(0.7,0,0.3,1);
	-webkit-transition-delay: .6s;
	-o-transition-delay: .6s;
	transition-delay: .6s; 
*/	
}
@-webkit-keyframes animLoadedHeader {
	to { -webkit-transform: translate3d(0,-120%,0); opacity: 0;}
}

@keyframes animLoadedHeader {
	to { -webkit-transform: translate3d(0,-120%,0); transform: translate3d(0,-120%,0); opacity: 0;}
}
.preloader img{
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%); 
	-webkit-transition: .4s cubic-bezier(0.7,0,0.3,1);
         -o-transition: .4s cubic-bezier(0.7,0,0.3,1);
            transition: .4s cubic-bezier(0.7,0,0.3,1);
}
.spiner-blc{
	position: absolute;
	top: 75%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%); 
}
.spiner{
	position: relative;
  	margin: 0 auto;
	width: 58px;
	height: 58px;
}
.circular {
  	-webkit-animation: rotate 2s linear infinite;
  	-o-animation: rotate 2s linear infinite;
  	animation: rotate 2s linear infinite;
  	height: 100%;
	-webkit-transform-origin: center center;
	-moz-transform-origin: center center;
	-ms-transform-origin: center center;
	-o-transform-origin: center center;
  	transform-origin: center center;
  	width: 100%;
  	position: absolute;
  	top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	margin: auto;
}
.path {
  	stroke-dasharray: 4, 200;
  	stroke-dashoffset: 0;
  	-webkit-animation: dash 2s ease-in-out infinite;
  	-o-animation: dash 2s ease-in-out infinite;
  	animation: dash 2s ease-in-out infinite;
  	stroke-linecap: round;
	stroke: #d40000;
	stroke-width: 4px;
}
.path-g{
	stroke-dasharray: 200, 200;
  	stroke-dashoffset: 0;
	stroke-linecap: round;
	stroke: #fff;
	opacity: .5;
	stroke-width: 4px;
}
@-webkit-keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

.preloader-out{
	-webkit-animation: animLoadedHeader 1s cubic-bezier(0.7,0,0.3,1) forwards .3s;
    animation: animLoadedHeader 1s cubic-bezier(0.7,0,0.3,1) forwards .3s;
}
.preloader-out img{
	opacity: 0;
	-webkit-transform: translate(-50%, -50%) scale(.5);
	-ms-transform: translate(-50%, -50%) scale(.5);
	-o-transform: translate(-50%, -50%) scale(.5);
	transform: translate(-50%, -50%) scale(.5);
	-webkit-transform-origin: center center;
	-moz-transform-origin: ;
	-ms-transform-origin: ;
	-o-transform-origin: center center;
	transform-origin: ;
}
.louded .welcome__middle > *,
.louded .welcome > .welcome__form-wrap,
.louded .welcome > .welcome__decor,
.louded .header{	
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}
.welcome > .welcome__form-wrap,
.welcome > .welcome__decor,
.header,
.welcome__middle > *{
	-webkit-transform: scale(.4);
	-ms-transform: scale(.4);
	-o-transform: scale(.4);
	transform: scale(.4);
	-webkit-transition: .8s ease-out;
         -o-transition: .8s ease-out;
            transition: .8s ease-out;
	-webkit-transition-delay: 1s;
	-o-transition-delay: 1s;
	transition-delay: 1s;
	opacity: 0;
}
.main-menu{
	-webkit-transition: .8s ease-out;
         -o-transition: .8s ease-out;
            transition: .8s ease-out;
	-webkit-transition-delay: 1s;
	-o-transition-delay: 1s;
	transition-delay: 1s;
	left: -300px;
	opacity: 0;
}
.louded .main-menu{
	left: 0;
	opacity: 1;
}

/*основные*/
html,body{
    font: 16px/1.5 'Ubuntu', sans-serif;
    color: #000;
    width: 100%;
    height: 100%;
	min-width: 320px;
    background: #fff;
    position: relative;
}
.clearfix:before,
.clearfix:after{
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix{
	-ms-zoom: 1;
	zoom: 1;
}
*, :after, :before{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

/*базовая типографика*/
ul,li{    
    margin:0;
    padding: 0;
    list-style: none;
}
h1,h2,h3,p{
    margin: 0;
    padding: 0; 	
}
h1,h2,h3{
	color: #222;
	font-family: 'DIN Condensed';
	font-weight: bold;
}
a{
    text-decoration: none;
    outline: none;
    -webkit-transition: .25s ease;
    -o-transition: .25s ease;
    transition: .25s ease;
}
.sec-title{
	line-height: 1;
  	font-size: 48px;
  	font-weight: bold;
  	font-stretch: condensed;
  	letter-spacing: 1.2px;
  	text-align: left;  	
	padding-bottom: 30px;
	margin-bottom: 40px;
	background-position: 0 bottom;
	background-repeat: no-repeat;
	text-transform: uppercase;
}
.sec-title--red{
	color: #d40000;
	background-image: url(../images/header-black.svg);
}
.sec-title--white{
	color: #fff;
	background-image: url(../images/header-white.svg);
	text-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
.blue-title a,
.blue-title{
	line-height: 1;
  	font-size: 32px;
  	font-weight: bold;
  	font-stretch: condensed;
  	text-align: left;
  	color: #7c4dff;
	text-transform: uppercase;
}

/*кнопки*/
.btn{
    border: none;
    outline: none;
    background: none;
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-transition: .25s ease;
    -o-transition: .25s ease;
    transition: .25s ease;
    padding: 0;
    text-align: center;
}
.btn--more{
	margin: 0 auto;
	width: 104px;
  	line-height: 45px;
	padding-top: 3px;
  	border-radius: 4px;
  	background-color: #fff;
  	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
	font-family: 'DIN Condensed';
  	font-size: 20px;
  	font-weight: bold;
  	font-stretch: condensed;
  	color: #7c4dff;
	text-transform: uppercase;
}
.btn--more:hover{
	box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.3);
}

/*slick*/
.slick-slide{
    outline: none;
}

/*layout*/
.wrapper{
	width: 100%;
	overflow: hidden;
}
.content{
	width: 100%;
	overflow: hidden;
}
.blog-media-container{
	position: relative;
	overflow: hidden;
	z-index: 3;
	background: #fff;
}
.ico:before,
.ico:after,
.blog-media-container:before,
.blog-media-container:after{
	content: '';
	display: block;
	width: 720px;
	height: 734px;
	background: url(../images/bg-fracktal.svg) center center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	position: absolute;
	z-index: 1;
}
.blog-media-container:before{
	top: -165px;
    right: 50%;
    margin-right: 65px;
}
.blog-media-container:after{
	bottom: 35px;
    right: 50%;
    margin-right: -770px;
}
.container{
	margin: 0 auto;
	position: relative;
	z-index: 6;
	max-width: 1000px;
	padding-left: 20px;
	padding-right: 20px;
}
.container--long{
	max-width: 1108px;
	-webkit-transform: translateX(54px);
	-ms-transform: translateX(54px);
	-o-transform: translateX(54px);
	transform: translateX(54px);
}
.sec{
	clear: both;
	padding-top: 64px;
}
.item{
	width: 30%;
	max-width: 288px;
	margin-right: 5%;
}
.item:nth-child(3n+3){
	margin-right: 0;
}
.flex{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-start;
	-ms-align-items: stretch;
	align-items: stretch;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
.white-overlay{
	background: #fff;
	z-index: 2;
	position: relative;
}

/*blog*/
.blog{
	padding-bottom: 80px;
}
.blog__wrap{
	margin-bottom: 40px;
}
.blog__item{
	border-radius: 4px;
  	background-color: #fff;
  	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
	overflow: hidden;
	color: #000;
}
.blog__item:hover{
	box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.3);
}
.blog__img{

}
.blog__img img{
	display: block;
	width: 100% !important;
	height: auto !important;
}
.blog__txt{
	padding: 24px 16px 16px 16px;
}
.blog__title{
	margin-bottom: 12px;
}
.blog__spoiler{
	font-size: 16px;
  	line-height: 1.5;
}
.blog__spoiler a{
	color: #000;
}

/*media*/
.media{
	padding-bottom: 120px;
}
.media-slider{
	width: -webkit-calc(100% + 38px);
	width: -moz-calc(100% + 38px);
	width: calc(100% + 38px);
	margin-left: -19px;
	position: relative;
}
.media-slide{
	padding-bottom: 40px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}
.media-slide__link{
	display: block;
	width: 100%;
	border-radius: 50%;
	position: relative;	
	margin: 0 19px;
}
.media-slide__link img{
	display: block;
	border-radius: 50%; 
	width: 100%;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}

.media-slider .slick-dots{
	position: absolute;
	left: 0;
	bottom: -16px;
	width: 100%;
	text-align: center;
	font-size: 0;
	z-index: 10;
}
.media-slider .slick-dots li{
	width: 16px;
	height: 16px;
	position: relative;
	display: inline-block;
	margin: 0 14px;
}
.media-slider .slick-dots li button{
	border: solid 2px #7c4dff;
    outline: none;
    background: #7c4dff;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: .25s ease;
         -o-transition: .25s ease;
            transition: .25s ease;    
    cursor: pointer;
    padding: 0;
    text-indent: -5000px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
}
.media-slider .slick-dots li.slick-active button,
.media-slider .slick-dots li button:hover{
	width: 16px;
	height: 16px;
	background: #fff;
}

.media-slider--mob{
	display: none;
}

/*team*/
.team{
	padding: 64px 0 16px 0;
	background: url(../images/bg-team.jpg) center center no-repeat #641c95;
	-webkit-background-size: cover;
	background-size: cover;
	color: #fff;
}
.team__item{
	margin-bottom: 48px;
}
.team__photo{
	width: 105px;
	height: 105px;
	border-radius: 50%;
	margin-bottom: 24px;
	overflow: hidden;
}
.team__photo img{
	display: block;
	width: 100%;
	height: 100%;
}
.team__name{
	margin-bottom: 3px;
	font-size: 24px;
  	font-weight: bold;
  	font-stretch: condensed;
  	color: #fff;
	text-transform: uppercase;
}
.team__status{
	margin-bottom: 8px;
	line-height: 1.35;
  	font-size: 14px;
  	font-weight: bold;
  	color: #b388ff;
	min-height: 38px;
}
.team__mail{
	display: inline-block;
	padding-left: 32px;
	line-height: 24px;
	background: url(../images/icn-mail.svg) 0 center no-repeat;
	margin-bottom: 8px;
	font-size: 14px;
  	color: #fff;
}
.team__mail:hover{
	color: #d40000;
}
.team__link-bar{
	margin-bottom: 8px;
}
.team__link{
	float: left;
	display: block;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	-webkit-background-size: contain;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	margin-right: 16px;
}
.team__link--fb{background-image: url(../images/icn-facebook.svg);}
.team__link--in{background-image: url(../images/icn-linkedin.svg);}
.team__link--fb:hover,
.team__link--in:hover{
	opacity: .8;
}
.team__txt{
	font-size: 14px;
  	line-height: 1.43;
	color: #fff;
}

/*features*/
.sec.features{
	position: relative;
	z-index: 4;
	padding-top: 64px;
	margin-top: -64px;
}
.features__item{
	margin-bottom: 70px;
}
.features__img{
	margin-bottom: 25px;
}
.features__img img{
	display: block;
	border-radius: 50%;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}
.features__item-title{
	margin-bottom: 18px;
}
.features__item-txt{
	font-size: 16px;
  	line-height: 1.5;
  	color: #000;
}

/*header*/
.header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	z-index: 10;
}
.logo{
	display: block;
	float: left;
	margin-left: 72px;
}
.logo img{
	display: block;
}
.header__bar{
	padding-top: 41px;
	float: right;
}
.header__bar a{
	display: block;
	float: left;
	line-height: 1;
	font-family: 'DIN Condensed';
  	font-size: 16px;
  	font-weight: bold;
  	font-stretch: condensed;
  	color: #fff;
	text-transform: uppercase;
}
.header__bar a:hover{
	color: #d40000;
}
.header__lang{
	position: relative;
	margin-left: 92px;
	margin-right: 72px;
}
.header__lang:before{
	content: '';
	display: block;
	height: 2px;
	width: 75px;
	background: #fff;
	position: absolute;
	top: 50%;
	left: 22px;
	margin-top: -1px;
}
a.header__btn{
	display: block;
	float: left;
	width: 98px;
  	line-height: 33px;
	padding-top: 3px;
  	border-radius: 4px;
  	background-color: #d40000;
  	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
	text-transform: uppercase;
	font-family: 'DIN Condensed';
  	font-size: 16px;
  	font-weight: bold;
  	font-stretch: condensed;
  	color: #fff;
	margin-top: -13px;
	margin-right: 92px;
}
a.header__btn:hover{
    box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.3);
	color: #fff;
	background: #a30000;
}

/*welcome*/
.welcome{
	background: #000;
	height: 100vh;
	min-height: 600px;	
	background: -webkit-radial-gradient(circle at 50% 79%, rgba(0, 0, 0, 0), #000000), -webkit-radial-gradient(circle at 49% 100%, #7923ae, #14004e);
	background: -moz-radial-gradient(circle at 50% 79%, rgba(0, 0, 0, 0), #000000), -moz-radial-gradient(circle at 49% 100%, #7923ae, #14004e);
	background: radial-gradient(circle at 50% 79%, rgba(0, 0, 0, 0), #000000), radial-gradient(circle at 49% 100%, #7923ae, #14004e);
	padding-top: 0;
}
.welcome__net{
	width: 100vmax;
	height: 100vmax;
	opacity: .2;
}
.welcome__decor{
	width: 100%;
	height: 100%;
	position: relative;
}
.welcome__card{
	position: absolute;
	display: block;
	opacity: .25;
}
.welcome__card--1{
	bottom: -40px;
	right: 50%;
	margin-right: 260px;
}
.welcome__card--2{
	bottom: 0;
	right: 50%;
	margin-right: -45px;
}
.welcome__card--3{
	bottom: 65px;
	right: 50%;
	margin-right: -320px;
}
.welcome__card--4{
	bottom: 280px;
	right: 50%;
	margin-right: -500px;
}
.welcome__card--5{
	bottom: 495px;
    right: 50%;
    margin-right: -685px;
}
.welcome__middle{
	width: 100%;
	color: #fff;
	text-align: center;
	position: absolute;
	bottom: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
 	text-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
.welcome__title{
	font-size: 48px;
  	font-weight: bold;
  	font-stretch: condensed;
  	letter-spacing: 1.2px;
  	text-align: center;
  	color: #ffffff;
  	text-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
	line-height: 1;
	text-transform: uppercase;
	padding-bottom: 35px;
	margin-bottom: 16px;
	background: url(../images/header-white.svg) center bottom no-repeat;
}
.welcome__subtitle{
	margin: 0 auto;
	font-size: 32px;
  	font-weight: 300;
  	line-height: 1.19;
  	letter-spacing: 0.4px;
  	text-align: center;
  	color: #fff;
  	text-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
	max-width: 616px;
}

.welcome__card{
	margin-bottom: 100%;
/*
	margin-bottom: 1500px;
	-webkit-transition: 1.6s cubic-bezier(0.7,0,0.3,1);
	     -o-transition: 1.6s cubic-bezier(0.7,0,0.3,1);
	        transition: 1.6s cubic-bezier(0.7,0,0.3,1);
	-webkit-transform: rotate(0);
	-ms-transform: rotate(0);
	-o-transform: rotate(0);
	transform: rotate(0);
*/
 
}
/*
.louded .welcome__card{
	margin-bottom: 0;
}
*/
@-webkit-keyframes card1{
	from{
		margin-bottom: 100%;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	to{
		-webkit-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transform: rotate(-45deg);
		margin-bottom: -65%;
	}
}
@-webkit-keyframes card2{
	from{
		margin-bottom: 100%;
		-webkit-transform: rotate(-16deg);
		-ms-transform: rotate(-16deg);
		-o-transform: rotate(-16deg);
		transform: rotate(-16deg);
	}
	to{
		-webkit-transform: rotate(16deg);
		-ms-transform: rotate(16deg);
		-o-transform: rotate(16deg);
		transform: rotate(16deg);
		margin-bottom: -65%;
	}
}
@-webkit-keyframes card3{
	from{
		margin-bottom: 100%;
		-webkit-transform: rotate(20deg);
		-ms-transform: rotate(20deg);
		-o-transform: rotate(20deg);
		transform: rotate(20deg);
	}
	to{
		-webkit-transform: rotate(-20deg);
		-ms-transform: rotate(-20deg);
		-o-transform: rotate(-20deg);
		transform: rotate(-20deg);
		margin-bottom: -65%;
	}
}
@-webkit-keyframes card4{
	from{
		margin-bottom: 100%;
		-webkit-transform: rotate(10deg);
		-ms-transform: rotate(10deg);
		-o-transform: rotate(10deg);
		transform: rotate(10deg);
	}
	to{
		-webkit-transform: rotate(-10deg);
		-ms-transform: rotate(-10deg);
		-o-transform: rotate(-10deg);
		transform: rotate(-10deg);
		margin-bottom: -45%;
	}
}
@-webkit-eyframes card5{
	from{
		margin-bottom: 100%;
		-webkit-transform: rotate(-15deg);
		-ms-transform: rotate(-15deg);
		-o-transform: rotate(-15deg);
		transform: rotate(-15deg);
	}
	to{
		-webkit-transform: rotate(15deg);
		-ms-transform: rotate(15deg);
		-o-transform: rotate(15deg);
		transform: rotate(15deg);
		margin-bottom: -45%;
	}
}
@keyframes card1{
	from{
		margin-bottom: 100%;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	to{
		-webkit-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transform: rotate(-45deg);
		margin-bottom: -45%;
	}
}
@keyframes card2{
	from{
		margin-bottom: 100%;
		-webkit-transform: rotate(-16deg);
		-ms-transform: rotate(-16deg);
		-o-transform: rotate(-16deg);
		transform: rotate(-16deg);
	}
	to{
		-webkit-transform: rotate(16deg);
		-ms-transform: rotate(16deg);
		-o-transform: rotate(16deg);
		transform: rotate(16deg);
		margin-bottom: -45%;
	}
}
@keyframes card3{
	from{
		margin-bottom: 100%;
		-webkit-transform: rotate(20deg);
		-ms-transform: rotate(20deg);
		-o-transform: rotate(20deg);
		transform: rotate(20deg);
	}
	to{
		-webkit-transform: rotate(-20deg);
		-ms-transform: rotate(-20deg);
		-o-transform: rotate(-20deg);
		transform: rotate(-20deg);
		margin-bottom: -45%;
	}
}
@keyframes card4{
	from{
		margin-bottom: 100%;
		-webkit-transform: rotate(10deg);
		-ms-transform: rotate(10deg);
		-o-transform: rotate(10deg);
		transform: rotate(10deg);
	}
	to{
		-webkit-transform: rotate(-10deg);
		-ms-transform: rotate(-10deg);
		-o-transform: rotate(-10deg);
		transform: rotate(-10deg);
		margin-bottom: -45%;
	}
}
@keyframes card5{
	from{
		margin-bottom: 100%;
		-webkit-transform: rotate(-15deg);
		-ms-transform: rotate(-15deg);
		-o-transform: rotate(-15deg);
		transform: rotate(-15deg);
	}
	to{
		-webkit-transform: rotate(15deg);
		-ms-transform: rotate(15deg);
		-o-transform: rotate(15deg);
		transform: rotate(15deg);
		margin-bottom: -45%;
	}
}
.louded .welcome__card--1{
	-webkit-animation: card1 7s linear infinite .25s;
	-o-animation: card1  7s linear infinite .25s;
	animation: card1  7s linear infinite .25s;	
}
.louded .welcome__card--2{
	-webkit-animation: card2 7s linear infinite .8s;
	-o-animation: card2  7s linear infinite .8s;
	animation: card2  7s linear infinite .8s;	
}
.louded .welcome__card--3{
	-webkit-animation: card3 7s linear infinite 1.1s;
	-o-animation: card3  7s linear infinite 1.1s;
	animation: card3  7s linear infinite 1.1s;	
}
.louded .welcome__card--4{
	-webkit-animation: card4 7s linear infinite 1.4s;
	-o-animation: card4  7s linear infinite 1.4s;
	animation: card4  7s linear infinite 1.4s;
}
.louded .welcome__card--5{
	-webkit-animation: card5 7s linear infinite 1.7s;
	-o-animation: card5  7s linear infinite 1.7s;
	animation: card5  7s linear infinite 1.7s;
}
/*
.louded .welcome__card--1{
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transition-delay: 1.5s;
	-o-transition-delay: 1.5s;
	transition-delay: 1.5s;
}
*/
/*
.louded .welcome__card--2{
	-webkit-transform: rotate(16deg);
	-ms-transform: rotate(16deg);
	-o-transform: rotate(16deg);
	transform: rotate(16deg);
	-webkit-transition-delay: 1.75s;
	-o-transition-delay: 1.75s;
	transition-delay: 1.75s;
}
*/
/*
.louded .welcome__card--3{
	-webkit-transform: rotate(-20deg);
	-ms-transform: rotate(-20deg);
	-o-transform: rotate(-20deg);
	transform: rotate(-20deg);
	-webkit-transition-delay: 2s;
	-o-transition-delay: 2s;
	transition-delay: 2s;
}
*/
/*
.louded .welcome__card--4{
	-webkit-transform: rotate(-10deg);
	-ms-transform: rotate(-10deg);
	-o-transform: rotate(-10deg);
	transform: rotate(-10deg);
	-webkit-transition-delay: 2.25s;
	-o-transition-delay: 2.25s;
	transition-delay: 2.25s;
}
*/
/*
.louded .welcome__card--5{
	-webkit-transform: rotate(15deg);
	-ms-transform: rotate(15deg);
	-o-transform: rotate(15deg);
	transform: rotate(15deg);
	-webkit-transition-delay: 2.5s;
	-o-transition-delay: 2.5s;
	transition-delay: 2.5s;
}
*/
.welcome__form-wrap{
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 72px;
}
.welcome__form{
	width: 234px;
  	border-radius: 12px;
    background-image: url(../images/bg-card.svg), -webkit-linear-gradient(#dca5ff, #c8b5ea);
    background-image: url(../images/bg-card.svg), -o-linear-gradient(#dca5ff, #c8b5ea);
    background-image: url(../images/bg-card.svg), linear-gradient(#dca5ff, #c8b5ea);
	-webkit-background-size: 100% 100%, auto;
	background-size: 100% 100%, auto;
  	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
	padding: 20px 20px 22px 20px;
	color: #240066;
	float: right;
}
.welcome__form-title{
  	font-size: 32px;
  	font-weight: bold;
  	font-stretch: condensed;
  	text-align: left;
  	color: #240066;
	margin-bottom: 8px;
	text-transform: uppercase;
	line-height: 1;
}
.welcome__form p{
	font-size: 14px;
  	font-weight: 300;
  	text-align: left;
  	color: #240066;
	margin: 15px 0;
	line-height: 1.14;
}
.welcome__form-users,
.welcome__form-b{
	font-size: 32px;
	font-weight: bold;
	font-stretch: condensed;
	text-align: left;
	color: #240066;
	padding-left: 23px;
	font-family: 'DIN Condensed';
	text-transform: uppercase;
	white-space: nowrap;
	line-height: 32px;
}
.welcome__form-users span,
.welcome__form-b span{
	display: inline-block;
	vertical-align: top;
	font-size: 20px;
}
.welcome__form-b{background: url(../images/currency-btc.svg) 0 center no-repeat;}
.welcome__form-users{background: url(../images/user.svg) 0 center no-repeat;}

/*economy*/
.economy{
	padding: 60px 0 140px 0;
	position: relative;
	background: url(../images/bg-economy.jpg) center center no-repeat #641c95;
	-webkit-background-size: cover;
	background-size: cover;
	color: #fff;
	z-index: 3;
	position: relative;
}
.economy:before{
	content: '';
	display: block;
	width: 816px;
	height: 385px;
	position: absolute;
	bottom: -10px;
	right: 0;
	background: url(../images/bg-horn-r-b.svg) right 0 no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.economy__counter{
	margin: 24px 0 32px 0;
	font-family: 'DIN Condensed';
	font-weight: bold;
	font-size: 36px;
  	font-stretch: condensed;
  	text-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
	line-height: 1;
}
.economy__counter-val{
	font-size: 48px;
  	color: #b388ff;
	display: inline-block;
}

/*architecture*/
.architecture{
	padding: 362px 0 80px 0;
	margin-top: -346px;
	position: relative;
	background: url(../images/bg-architecture.jpg) center center no-repeat #641c95;
	-webkit-background-size: cover;
	background-size: cover;
	color: #fff;
}
.architecture .container{
	padding-top: 60px;
}
.architecture:before{
	content: '';
	display: block;
	width: 1440px;
	height: 480px;
	position: absolute;
	top: -10px;
	left: 0;
	background: url(../images/bg-horn-l-t.svg) 0 0 no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.architecture .architecture{
	margin-bottom: 24px;
}
.architecture__txt{
	max-width: 400px;
	font-size: 16px;
	line-height: 1.5;
	float: left;
}
.architecture__txt p{
	margin: 1em 0;
}
.architecture__txt ul{
	line-height: 2;
}
.architecture__layers{
	float: right;
	max-width: 563px;
	width: 100%;
	margin-top: -60px;
}
.architecture__layer{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	-ms-align-items: stretch;
	align-items: stretch;
	margin-bottom: 52px;
	position: relative;
}
.architecture__layer:nth-child(1){z-index: 6;}
.architecture__layer:nth-child(2){z-index: 5;}
.architecture__layer:nth-child(3){z-index: 4;}
.architecture__layer:nth-child(4){z-index: 3;}
.architecture__layer:nth-child(5){
	z-index: 2;
	margin-bottom: 0;
}
.architecture__layer h3{
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
	font-size: 32px;
	line-height: 1;
	width: 235px;
	white-space: nowrap;
	text-align: right;
	position: relative;
	z-index: 2;
	-webkit-animation-delay: .25s;
	-o-animation-delay: .25s;
	animation-delay: .25s;
}
.architecture__layer-img{
	position: relative;
	flex-grow: 1;
}
.architecture__layer-img img{
	position: absolute;
	left: -45px;
	bottom: -21px;
}


/*contacts*/
.sec.contacts{
	background-image: -webkit-radial-gradient(circle at 50% 79%, rgba(0, 0, 0, 0), #000000), -webkit-radial-gradient(circle at 49% 100%, #7923ae, #14004e);
	background-image: -moz-radial-gradient(circle at 50% 79%, rgba(0, 0, 0, 0), #000000), -moz-radial-gradient(circle at 49% 100%, #7923ae, #14004e);
	background-image: radial-gradient(circle at 50% 79%, rgba(0, 0, 0, 0), #000000), radial-gradient(circle at 49% 100%, #7923ae, #14004e);
	padding: 0;
	position: relative;
	color: #fff;
	height: 650px;
	max-height: 100vh;
}
.contacts .container{
	height: 100%;
	padding-top: 60px;
}
.contacts__wrap{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: stretch;
	align-items: stretch;
}
.contacts__col{
	width: 48%;
	max-width: 400px;
}
.contacts .sec-title{
	margin-bottom: 72px;
}
.contacts__link{
	line-height: 40px;
	display: block;
	margin-bottom: 32px;
	padding-left: 64px;
	font-size: 20px;
  	font-weight: bold;
  	text-align: left;
  	color: #fff;
	background-repeat: no-repeat;
	background-position: 0 center;
}
.contacts__link:hover{
	color: #d40000;
}
.contacts__link-mail{background-image: url(../images/c-mail.svg);}
.contacts__link-telegram{background-image: url(../images/c-telegram.svg);}
.contacts__link-skype{background-image: url(../images/c-skype.svg);}
.contacts__link-fb{background-image: url(../images/c-facebook.svg);}
.contacts__link-tw{background-image: url(../images/c-twitter.svg);}
.contacts__link-me{background-image: url(../images/c-medium.svg);}
.contacts__link-in{background-image: url(../images/c-linkedin.svg);}
.contacts__copyright{
	position: absolute;
	left: 20px;
	bottom: 15px;
	font-size: 14px;
  	font-weight: 300;
  	line-height: 1.3;
	max-width: 624px;
	width: 100%;
}
.sec.fix-contacts{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1 !important;
	width: 100%;
	height: 650px;
	max-height: 100vh;
}
.sec{
	z-index: 3;
	position: relative;
}
.contact-booofer{
	z-index: 0;
	position: relative;
	height: 650px;
	max-height: 100vh;
}
.fix-contacts .welcome__decor{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.header__btn--footer{
	float: none !important;
	margin: 0 0 32px 0;
}

/*about*/
.about{	
	position: relative;
	padding-top: 0;
	z-index: 4;
	position: relative;
	background: #fff;
}
.about .container{
	top: -160px;
	padding-top: 60px;
}
.about__content{
	float: right;
	width: 400px;
}
.about .sec-title{
	margin-bottom: 24px;
}
.about__txt{
	font-size: 16px;
  	line-height: 1.88;
  	color: #000;
}
.about__txt p{
	margin: 1em 0;
}
.about__txt strong{
	font-weight: bold;
  	color: #641c95;
}
.about__shem{
	float: left;
	width: -webkit-calc(100% - 400px);
	width: -moz-calc(100% - 400px);
	width: calc(100% - 400px);
	padding-right: 100px;
	padding-top: 60px;
}
.about__shem img{
	display: block;
	width: 100%;
}

/*ico*/
.ico{
	padding-bottom: 144px;
	position: relative;
	background: url(../images/bg-fracktal.svg) -100px -330px no-repeat #fff;
	overflow: hidden;
}
.ico:before{
	top: 530px;
	right: 50%;
    margin-right: -695px;
}
.ico:after{
	bottom: -238px;
    right: 50%;
    margin-right: 79px;
}
.ico__content{
	width: 400px;
	float: right;
}
.ico__content .blue-title{
	margin-bottom: 16px;
}
.ico__content-txt{
	font-size: 16px;
  	line-height: 1.88;
  	color: #000;
}
.ico__content-txt li{
	margin: 1em 0;
	padding-left: 1.5em;
	position: relative;
}
.ico__content-txt li:before{
	content: '';
	display: block;
	width: 4px;
	height: 4px;
	background: #000;
	border-radius: 50%;
	position: absolute;
	left: 5px;
	top: 13px;
}
.ico__content-txt strong{
	font-weight: bold;
  	color: #641c95;
}
.ico__bar{
	float: left;
	width: -webkit-calc(100% - 400px);
	width: -moz-calc(100% - 400px);
	width: calc(100% - 400px);
	padding-right: 100px;
	position: relative;	
  	
}
.ico__bar:before{
	content: '';
	display: block;
	width: 3px;
	height: 100%;
	background-image: -webkit-linear-gradient(#fbda61, #f76b1c);
	background-image: -o-linear-gradient(#fbda61, #f76b1c);
	background-image: linear-gradient(#fbda61, #f76b1c);
	opacity: 0.9;
  	box-shadow: 0 0 8px 0 rgba(250, 207, 91, 0.5);
	position: absolute;
	left: 0;
	top: 0;
}
.ico__item{
	padding-left: 161px;
	margin-bottom: 41px;
	position: relative;
	background: url(../images/arrow-heart.svg) 110px center no-repeat;
}
.ico__item:before{
	content: '';
	display: block;
	width: 7px;
  	height: 7px;
    background-image: -webkit-linear-gradient(#fbda61, #f76b1c);
    background-image: -o-linear-gradient(#fbda61, #f76b1c);
    background-image: linear-gradient(#fbda61, #f76b1c);
	border-radius: 50%;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	left: -2px; 
}
.ico__item:after{
	content: '';
	display: block;
	width: 100px;
  	height: 2px;
  	opacity: 0.9;
  	border-top: 2px dotted #fbda61;
    border-image-slice: 1;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 5px; 
}
.ico__item:last-child{
	margin-bottom: 0;
}
.ico__item-title{
	font: 20px/23px 'Ubuntu', sans-serif;
  	font-weight: bold;
  	text-align: left;
  	color: #641c95;	
}
.ico__item-txt{
	font-size: 16px;
	line-height: 1.5;
	color: #000;
}

/*token*/
.token{
	margin-top: 140px;
	text-align: center;
}
.token__title{
	margin-bottom: 16px;
	text-align: center;
}
.token__wrap{
	max-width: 944px;
	margin: 0 auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	-ms-align-items: flex-start;
	align-items: flex-start;
}
.token__item{
	width: 176px;
}
.token__img{
	height: 177px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column-reverse;
	-moz-flex-direction: column-reverse;
	-ms-flex-direction: column-reverse;
	-o-flex-direction: column-reverse;
	flex-direction: column-reverse;
	justify-content: flex-start;
}
.token__item:nth-child(2) .token__img{
	-webkit-animation-delay: .25s;
	-o-animation-delay: .25s;
	animation-delay: .25s;
}
.token__item:nth-child(3) .token__img{
	-webkit-animation-delay: .5s;
	-o-animation-delay: .5s;
	animation-delay: .2s;
}
.token__item:nth-child(4) .token__img{
	-webkit-animation-delay: .75s;
	-o-animation-delay: .75s;
	animation-delay: .72s;
}
.token__img img{
	display: block;
	margin: 0 auto;
	max-width: 100%;
}
.token__persent{
	width: 55px;
	height: 55px;
	line-height: 51px;
	padding-top: 3px;
	text-align: center;
	border-radius: 50%;
	margin: 0 auto 40px auto;
	color: #fff;
	font-size: 30px;
	font-weight: bold;
	font-family: 'DIN Condensed';
	background: #641c95;
}
.token__txt{
	font-size: 20px;
  	font-weight: bold;
  	text-align: center;
  	color: #641c95;
}

/*main-menu*/
.main-menu{
	position: fixed;
/*	left: 0;*/
	bottom: 76px;
	z-index: 15;
}
.main-menu__link{
	display: block;
	position: relative;
	-webkit-transition: .2s ease .2s;
	     -o-transition: .2s ease .2s;
	        transition: .2s ease .2s;
	padding-left: 72px;
	font-size: 16px;
  	font-weight: bold;
  	font-stretch: condensed;
  	text-align: left;
  	color: #9f9f9f;
	font-family: 'DIN Condensed';
	text-transform: uppercase;
}
.main-menu__link:before{
	content: '';
	width: 132px;
	height: 2px;
	position: absolute;
	display: block;
	background: #9f9f9f;
	-webkit-transition: .4s ease;
	     -o-transition: .4s ease;
	        transition: .4s ease;
	left: -66px;
	margin-right: 2px;
	top: 12px;
}
.main-menu__item{
	margin-bottom: 25px;
}
.main-menu__link:hover:before,
.main-menu__item.active .main-menu__link:before{
	background: #d40000;
}
.main-menu__item.active .main-menu__link{
	color: #d40000;
	-webkit-transform: translateX(66px);
	-ms-transform: translateX(66px);
	-o-transform: translateX(66px);
	transform: translateX(66px);
}
.main-menu__link:hover{
	color: #d40000;
}

@media screen and (min-width: 1420px){
	.architecture{
		margin-top: -256px;
	}
}

@media screen and (max-width: 1380px){
	.main-menu__link{
		padding-left: 20px;
	}
	.main-menu__link:before{
		left: -116px;
	}
	.main-menu__item.active .main-menu__link {
		-webkit-transform: translateX(46px);
		-ms-transform: translateX(46px);
		-o-transform: translateX(46px);
		transform: translateX(46px);
	}
}
@media screen and (max-width: 1250px){
	.architecture__layers {
		max-width: 510px;
	}
}
@media screen and (max-width: 1218px){
	.container--long{
		max-width: 1000px;
		-webkit-transform: translateX(0);
    	-ms-transform: translateX(0);
    	-o-transform: translateX(0);
    	transform: translateX(0);
	}
	.main-menu__link{
		font-size: 0;
		width: 10px;
		height: 10px;
 		position: absolute;
 		top: 50%;
 		left: 50%;
 		-webkit-transform: translate(-50%, -50%);
 		-ms-transform: translate(-50%, -50%);
 		-o-transform: translate(-50%, -50%);
 		transform: translate(-50%, -50%);  
		background: #9f9f9f;
		border: 3px solid #9f9f9f;
		border-radius: 50%;
		text-indent: -5000px;
		padding: 0;
	}
	.main-menu {
		position: fixed;
		bottom: auto;
  		top: 50%;
  		-webkit-transform: translateY(-50%);
  		-ms-transform: translateY(-50%);
  		-o-transform: translateY(-50%);
  		transform: translateY(-50%);
  		left: 16px;
	}
	.louded .main-menu{
		left: 16px;
	}
	.main-menu__link:before{
		display: none;
	}
	.main-menu__item {
		margin: 10px 0;
		width: 15px;
		height: 15px;
		position: relative;
	}
	.main-menu__link:hover,
	.main-menu__item.active .main-menu__link{
		-webkit-transform: translate(-50%, -50%);
 		-ms-transform: translate(-50%, -50%);
 		-o-transform: translate(-50%, -50%);
 		transform: translate(-50%, -50%); 
		border-color: #d40000;
		background: transparent;
		width: 15px;
		height: 15px;
	}
	.welcome__form-wrap{
		bottom: 30px;
	}
}
@media screen and (max-width: 1080px){
	.economy:before{
		height: 345px;
	}
	.container{
		padding-left: 50px;
	}
	.logo{
		margin-left: 28px;
	}
	.architecture .container {
		padding-top: 80px;
	}
	.contacts__copyright{left: 50px;}
}
@media screen and (max-width: 980px){
	.welcome__middle {
		-webkit-transform: translate(-50%, 50%);
		-ms-transform: translate(-50%, 50%);
		-o-transform: translate(-50%, 50%);
		transform: translate(-50%, 50%);
		width: 100%;
	}
	.economy:before {
		height: 36%;
	}
	.about {
		padding-top: 60px;
		margin-top: 0;
	}
	.about__content {
		float: none;
		width: 100%;
	}
	.about__shem {
		float: none;
		width: 100%;
		padding: 60px 60px 0 60px;
	}
	.architecture__txt{
		max-width: 100%;
	}
	.architecture{
		margin-top: -315px;
	}
	.ico__bar {
		float: none;
		width: 100%;
		padding-right: 0;
		margin-bottom: 60px;
	}
	.ico__content {
		width: 100%;
		float: none;
	}
	.about .container {
		top: 0;
		padding-top: 0;
	}
	.header__lang,
	a.header__btn{
		margin-right: 30px;
	}
	.header__lang{
		margin-left: 30px;
	}
	.token__wrap{
		justify-content: space-between;
	}
	.token__txt{
		padding: 0 10px;
	}
	.architecture__layers {
		float: none;
		clear: both;		
		margin: 0 auto;
	}
	.architecture__txt{
		float: none;
	}
	.media-slider--mob{
		display: block;
	}
	.media-slider--desc{
		display: none;
	}
	.media-slide__link{
		margin: 10px 10px 30px 10px;		
    	width: 128px;		
	}
	.media-slider {
		width: 100%;
		margin-left: 0;
	}
}
@media screen and (max-width: 767px){
	.logo{		
		float: none;
		margin: 0 auto;
	}
	.logo img{
		margin: 0 auto;
	}
	.header__bar {
		padding-top: 12px;
		margin-bottom: 8px;
		float: none;
		text-align: center;
	}
	.header__bar a{
		float: none;
		display: inline-block;
	}
	.header__lang{
		margin: 0 0 0 8px;
		float: none;
	}
	a.header__btn{
		margin: 0 8px 0 0;
		float: none;
	}	
	.header__lang:before{
		display: none;
	}
	.welcome__middle{
		left: 0;
		top: 200px;
		-webkit-transform: translate(0,0);
    	-ms-transform: translate(0,0);
    	-o-transform: translate(0,0);
    	transform: translate(0,0);
		padding-left: 25px;
	}
	.welcome__title{
		font-size: 22px;
	}
	.welcome__subtitle {
		font-size: 20px;
		padding: 0 20px;
	}
	.welcome{
		min-height: 720px;
	}
	.welcome__form{
		float: none;
		margin: 0 auto;
	}
	.sec-title{
		font-size: 36px;
	}
	.economy__counter{
		font-size: 26px;
	}	
	.economy:before{
		display: none;
	}
	.sec.fix-contacts,
	.media,
	.blog,
	.ico,
	.sec.features,	
	.economy{
		padding: 60px 0 40px 0;
	}
	.about__shem{
		padding: 0;
	}
	.item {
		width: 100%;
		max-width: 288px;
		margin-right: 0;
	}
	.features__item {
		margin-bottom: 40px;
	}
	.sec.features{
		margin-top: 0;
	}
	.about .container{
		padding-top: 60px;
	}
	.about{
		padding: 0 0 40px 0;
	}
	.architecture__layer h3{
		width: 120px;
		font-size: 20px;
	}
	.architecture__layer-img img {
		position: absolute;
		left: -15px;
		bottom: -9px;
		width: 200px;
	}
	.architecture__layers{
		margin-top: 80px;
	}
	.ico__item {
		padding-left: 40px;
		margin-bottom: 20px;
		background: url(../images/arrow-heart.svg) 10px center no-repeat;
	}
	.ico__item:after{
		width: 10px;
	}
	.ico__item-title{
		font-size: 18px;
	}
	.blue-title{
		font-size: 26px;
	}
	.token__wrap{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
	}
	.blog__item{
		margin-bottom: 30px;
	}
	.blog__wrap {
		margin-bottom: 10px;
	}
	.media-slide__link {
		margin: 10px auto 30px auto;
	}
	.media-slider {
		width: 70%;
		margin: 0 auto;
		overflow: visible;
	}
	.slick-list{
		overflow: visible;
	}
	.contacts__col {
		width: 100%;
		max-width: 100%;
		margin-bottom: 40px;
	}
	.contacts__wrap{
		display: block;
	}
	.contacts .sec-title {
		font-size: 26px;
		margin-bottom: 15px;
	}
	.contacts__link {
		line-height: 30px;
		margin-bottom: 10px;
		padding-left: 40px;
		font-size: 16px;
		-webkit-background-size: auto 90%;
		background-size: auto 90%;
	}
	.sec.fix-contacts {
		position: relative; 
		bottom: auto;
		left: 0;
		right: auto;
		z-index: 1 !important;
		width: 100%;
		height: auto;
		max-height: 100%;
	}
	.contact-booofer{
		height: 1px !important;
	}
	.contacts .container{
		padding-top: 0;
	}
	.contacts__copyright{
		position: static;
		font-size: 12px;
	}
	.flex{
		justify-content: space-between;
	}
	.architecture__layers {
		max-width: 300px;
	}
	.main-menu__link:hover{
		width: 10px;
    	height: 10px;
		background: #9f9f9f;
    	border: 3px solid #9f9f9f;
	}
	.header__btn--footer{
		margin-bottom: 40px !important;
	}
}
@media screen and (max-width: 480px){
	.flex{
		display: block;
	}
	.economy__counter-val{
		display: block;;
	}
	.item{
		margin-right: auto !important;
		margin-left: auto;
	}
	.blog__item{
		display: block;
	}
}












